.header {
    min-height: 75px;
    background: $colorContent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }
}